In [1]:
import os
import pandas as pd

import warnings
warnings.simplefilter('ignore')

In [2]:
path = os.getcwd()
print (path)

/home/machine1/SANDY/web_analytics/1_CA1/CA1_r11/0_PRE_PROCESSING

In [3]:
TRAN_path    = path+'/buys_click_data_tran_dc.csv'
TRAIN_path   = path+'/train.csv'
TEST_path     = path+'/test.csv'

In [152]:
orgin_tran   = pd.read_csv(TRAN_path)
orgin_tran   = orgin_tran.drop_duplicates(subset=['session_id',"datetime_y","item_id","category"],keep="last").sort_values(by=['session_id','datetime_y'],ascending=True).reset_index(drop=True)
orgin_tran.head()

   session_id         datetime_y    item_id  category
0          11  4/3/2014 10:46:57  214821371         0
1          12  4/2/2014 10:33:13  214717867         0
2          21   4/7/2014 9:07:42  214838503         0
3          21   4/7/2014 9:21:10  214548744         0
4          33  4/6/2014 18:13:11  214834865         0

In [173]:
mylist       = list(set(orgin_tran.session_id))
trainmylist  = mylist[0:164010]
testmylist   = mylist[164010:234300]

In [174]:
len(mylist)

234300

In [177]:
len(mylist)*0.3

70290.0

In [178]:
len(mylist)*0.7

164010.0

In [185]:
test     = orgin_tran[orgin_tran['session_id'].isin(testmylist)].sort_values(by=['session_id','datetime_y'],ascending=True).reset_index(drop=True)
train    = orgin_tran[orgin_tran['session_id'].isin(trainmylist)].sort_values(by=['session_id','datetime_y'],ascending=True).reset_index(drop=True)

In [186]:
len(train)

346076

In [187]:
train.head()

   session_id         datetime_y    item_id  category
0          11  4/3/2014 10:46:57  214821371         0
1          12  4/2/2014 10:33:13  214717867         0
2          21   4/7/2014 9:07:42  214838503         0
3          21   4/7/2014 9:21:10  214548744         0
4          33  4/6/2014 18:13:11  214834865         0

In [188]:
len(test)

148329

In [189]:
test.head()

   session_id         datetime_y    item_id  category
0      359976  4/1/2014 18:11:19  214820261         0
1      359993  4/6/2014 10:44:35  214835422         0
2      360002   4/7/2014 8:53:14  214826810         0
3      360002   4/7/2014 8:55:07  214509787         0
4      360022  4/2/2014 17:19:46  214510854         0

In [190]:
test.to_csv(TEST_path  , encoding='utf-8', index=False)
train.to_csv(TRAIN_path , encoding='utf-8', index=False)